name: Sync Subdirectory to Hugging Face
on:
  push:
    branches: [main]
    paths:
      - 'deployment/**' 

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Install Git LFS
        run: git lfs install

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          
          # 1. Create the subtree branch
          git subtree split --prefix deployment -b hf-sync
          
          # 2. Force push the subtree branch to the remote main branch
          # The --force flag will overwrite the remote history with your local 'deployment' folder
          git push https://faranbutt789:$HF_TOKEN@huggingface.co/spaces/faranbutt789/Cassava_Leaf_Disease_Detection hf-sync:main --force